body {
  margin: 2em;
  font-family: "Kiwi Maru", serif;
}
.editButton {
  background-color: lightyellow;
  cursor: pointer;
}
.deleteButton {
  background-color: lightcoral;
  cursor: pointer;
}
.tag {
  display: inline-block;
  border: 1px dotted lightgrey;
  padding:0px 5px 2px 5px;
  margin-right: .25em;
  margin-bottom: .15em;
  /* following is just about preventing selection on double-click */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
dd {
  /* following is just about preventing selection on double-click */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#contactForm .tag, #searchTagSelector .tag {
  cursor: pointer;
}
input:invalid {
  outline-color: red;
}
.selected {
  background-color: lightgreen;
  text-decoration: underline;
}
.excluded {
  background-color: lightcoral;
  text-decoration: line-through;
}
.tagDd {
  min-height: 2em;
}
ul#contactList {
  list-style: none;
  padding-left: 0;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 215px);
  grid-auto-flow: dense;
}
#contactList dl {
  padding: 0;
  margin: .25em;
}
#contactList li {
  display: inline-block;
  border: 1px dotted darkgrey;
  min-height: 13em;
  width: 25%;
  min-width: 200px;
  margin-right: .25em;
  margin-bottom: .25em;
  padding-left: .25em;
}

#contactList dt {
  font-weight: bold;
}

#contactList dd {
  min-height: 1.5em;
  overflow-wrap: break-word;
}
